body {
  min-height: 1500px;
  background-color: black;
  font-family: "knewave" cursive;
}
.about {
  background-color: white;
}

.jumbotron {
  background: url(img/ottr-dan-YuMAWozaEJQ-unsplash.jpg);
  padding-top: 2rem;
}

.col {
  padding: 5px;
}

.card {
  padding: 20px;
  margin-bottom: 20px;
}
.container h3 {
  text-align: center;
}

/* font  */
@import ".utilities/bootstrap-api-utilities";
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");

:root {
  --bs-body-font-family: "supermercado one" cursive;
}
